/* color variable to save time and to stay consistent */
:root {
    --black: #040403;
    --croc: #465e3f;
    --dgreen: #8EB897;
    --lgreen: #C3E8BD;
    --purp: #793868;
}

/* general element styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--croc);
    padding-left: 30px;
}

nav {
    margin: 0 50px 0 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color:var(--dgreen);
    padding: 0 10px;

}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dgreen);
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--croc);
}

article {
    position: relative;
}
span {
   position: absolute; 
   text-decoration: none;
   
}

body {
    background-color: var(--dgreen);
}

a {
    text-decoration: none;
    color: var(--dgreen);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--croc);
    padding-left: 30px;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color:var(--dgreen);
    padding: 0 20px;
}

div img {
    height: 100px;
}

div p {
    padding: 10px;
    text-align: center;
    color: var(--croc);
}

/* class stylings */

/* banner image */
.banner {
    height: 200px;
    width: 100%;
    background-image: url("../images/image-1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

/* main container */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* left container - contains section headings */
.left {
    flex: 0 0 20%;
}

/* right container - contains paragraph and portfolio flex container */
.right {
    flex: 0 0 80%;
}

/* contains flex items under work */
.portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

/* general flex item */
.card {
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* first card specific to make it larger than the rest */
.card:first-child {
    width: 100%;
    padding: 75px;
}
 
/* the rest of the cards */
.card:not(:first-child) {
    width: 25%;
    padding: 20px;
}

/* specific items background images */
.items-1 {
    background-image: url(../images/image-hor.png);
}

.items-2 {
    background-image: url(../images/image-3.jpeg);
}

.items-3 {
    background-image: url(../images/image-4.jpeg);
}

.items-4 {
    background-image: url(../images/image-5.jpeg);
}

.items-5 {
    background-image: url(../images/image-2.jpeg);
}

/* text for portfolio card links */
.text {
    background-color: var(--croc);
    bottom: 10px;
    position: relative;
    color: var(--dgreen);
}

